<%= form_for @user do |f| %>
  <%= render "shared/error_messages" %>
  <%= t ".name" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= t ".email" %>
  <%= f.email_field :email, class: "form-control" %>
  <%= t ".password" %>
  <%= f.password_field :password, class: "form-control" %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit t(".save"), class: "btn btn-primary" %>
<% end %>
<div class="gravatar_edit">
  <%= gravatar_for @user %>
  <%= link_to t(".change"), Settings.users.avatar, target: "_blank" %> 
</div>

